<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<header>
    <div class="header">
        <div class="heading">Attendance Management System</div>
        <% if (login === true) { %>
            <div class="nav">
                <% if(locals.back_route){ %>
                    <div class="box">
                        <a href="<%= back_route %>">
                            <div class="back">
                                <div><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="32" height="32"><path d="M19,11H9l3.293-3.293L10.879,6.293,6.586,10.586a2,2,0,0,0,0,2.828l4.293,4.293,1.414-1.414L9,13H19Z"/></svg></div>
                                <div>Back</div>
                            </div>
                        </a>
                    </div>
                <% } %>
                    <div class="box">
                        <div class="current"><%= current_page %></div>
                    </div>
                <div class="box">
                    <a href="/logout"><div class="logout">Logout</div></a>
                </div>
            </div>
        <% } %>
    </div>
</header>
<body>