<%- include('partials/header.ejs') %>

<div class="space"></div>
<div class="content">
    <div class="greet">
        <div class="title">Attendance</div>
        <div class="title"><%= class_name %></div>
    </div>
    <div class="success">
        <div class="animation"><img height="200" width="200" src="/images/verified.gif"></div>
        <div class="greet">
            <div class="suc">Success !</div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>